@import url(http://fonts.googleapis.com/css?family=Courgette);
@import url(http://fonts.googleapis.com/css?family=Fenix);

body, .container, html {
	height: 98%;
}

body, .background, .container, html, .info img {
	width: 100%;
}

.background {
	height: 100%;
	opacity: .67;
	left: 0;
	top: 0;
}

.background, .info-col {
	position: absolute;
}

body {
	background-color: black;
}

a, body {
	color: black;
}

.templates, .item-list, .pizza-list {
	display: none;
}

.top {
	height: 90%;
	margin: 65px auto;
	position: relative;
	width: 90%;
}

.info h1, .info p, .menu-button, .menu-detail h1, .menu-detail h2, .order-detail h1, .order-detail h2 {
	margin: 0px;
}

.info, .menu-button, .order-button {
	background-color: #1DB5A0;
}

.info, .locate-button, .menu-button, .order-button {
	border-radius: 4px;
}

.exit, .info {
	float: right;
}

.info {
	font-family: 'Fenix' sans-serif;
	padding: 5px;
}

.info-col {
	bottom: 0px;
	right: 0px;
}

.alert-div, .info h1, .info p, .locate-button, .menu-button, .order-button {
	text-align: center;
}

.info p, .menu-button, .order-button {
	color: #FFC600;
}

.info p {
	font-size: 15px;
}

.locate-button, .menu-button, .order-button {
	font-family: 'Courgette', serif;
}

.locate-button {
	background-color: #FFC600;
	font-size: 24px;
	margin: 0px auto;
	width: 50%;
}

.info img {
	height: auto;
	max-width: 350px;
}

.menu-button, .order-button {
	border: 2px solid black;
	font-size: 32px;
	padding-left: 5px;
	padding-right: 5px;
}

.menu-button {
	width: 36%;
}

.order-button {
	margin-left: 178px;
	width: 40%;
}

.row h2 {
	text-decoration: underline;
}

.modal-body, .modal-header {
	padding-bottom: 0px;
	padding-top: 5px;
}

.modal {
	overflow-y: auto;
}

.modal-header a {
	border: 1px solid black;
}

.pizza-alert, .alert-div {
	color: red;
}

dl {
	margin-bottom: 0px;
	margin-top: 0px;
}

.start-over {
	float: left;
}

.button-row, .previous-row {
	margin-top: 2em;
}

.button-row {
	text-align: right;
}

.total-row {
	border-top: 1px solid #AAA;
}

@media screen and (max-width: 1199px) {
	.order-button {
		margin-left: 147px;
	}

	.top {
		margin-top: 0px;
	}
}

@media screen and (max-width: 991px) {
	.order-button {
		margin-left: 0px;
	}

	.place-order {
		float: left;
	}
}

@media screen and (min-width: 786px) {
	.modal-dialog {
		padding-bottom: 0px;
		padding-top: 5px;
		width: 1000px;
	}
}

@media screen and (max-width: 814px) {
	.info-col {
		position: relative;
	}

	.info {
		float: none;
		width: 50%;
	}

	.info img {
		display: block;
		margin: 0 auto;
	}

	.top {
		height: auto;
	}

	.info, .menu-button, .order-button {
		width: 100%;
	}
}

@media screen and (max-width: 540px) {
	.modal-body {
		font-size: 12px;
	}

	.modal-body h1 {
		font-size: 25px;
	}

	.modal-body h2 {
		font-size: 20px;
	}
}

@media screen and (max-width: 325px) {
	.place-order {
		margin-top: 2em;
	}	
}

@media screen and (max-width: 320px) {
	.container {
		width: 350px;
	}

	.top {
		margin-bottom: 0;
		margin-top: 0;
	}
}