/*Adds new fonts*/
@import url(http://fonts.googleapis.com/css?family=Parisienne);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
@import url(http://fonts.googleapis.com/css?family=Lusitana:400,700);

/*All pages*/
body {
	background-image: url(../img/backgroundpizza.png);
	margin: 50px auto;
	width: 80%;
}

.container {
	background-color: #9A73D1;
	border: 8px solid #000000;
	border-radius: 10px;
}

.bottom img, .image img, .logo img {
	height: auto;
}

.bottom img, .footer, .image img, .logo img {
	width: 100%;
}

article, .info, .menus, .pizza {
	overflow: hidden;
}

article, .footer, nav {
	background-image: url(../img/brushed.png);
	border-radius: 5px;
}

article, nav {
	border: 7px solid #000000;
	margin: 0 19px 17px 19px;
}

address a, .footer a, li a {
	text-decoration: none;
}

.contact, .footer, .information, .info, li a, .menus {
	color: #060606;
}

.information h1, .info p, .menus h1, .menus h2 {
	text-align: center;
}

h1, h2, h3, .info, p {
	margin: 0px;
}

.bottom img, .image, .morepizza, .order {
	opacity: .7;
}

.bottom img:hover, .image:hover, .morepizza:hover, .order:hover {
	opacity: 1; 
}

.header, .information h2, .meat, .pizza, .veggie {
	margin-top: 5px;
}
/*end all pages*/

/*Index page CSS*/
.contact h2, .info {
	font-size: 1.5em;
}

.info p {
	margin: 3px;
}

.bottom img {
	max-height: 470px;
}

.video iframe {
	border: 0;
	display: block;
	margin: 5px auto;
}
/*end Index page*/

/*Menu page CSS*/
.pizza > span {
	font-style: italic;
}

article .morepizza, article .order {
	float: right;
}

article .morepizza {
	clear: right;
}

.dessert, .drinks, .footer, .info, .menus, .pizza {
	padding: 5px;
}

.menus {
	margin: 5px;	
}

.information, .pizza ul {
	padding-left: 20px;
}

.information h1, .menus h1 {
	font-size: 30px;
}

.information h2, .menus h2 {
	font-size: 25px;
}

.pizza {
	border-top: 2px solid #000000;
}

.pizza ul {
	list-style-type: circle;
}

.pizza > span {
	color: #9303A7;
}

.menus h3 {
	font-size: 20px;
}

dt span, .pizza span {
	text-decoration: underline;
}

article .order {
	height: 165px;
	width: 250px;
}

.pizza h2 {
	margin-top: 10px;
}
/*end Menu page*/

/*About page CSS*/
.container, .information h1 {
	padding-bottom: 5px;
}

.image img {
	max-width: 460px;
}

.information h1 {
	border-bottom: 2px solid #000000;
	padding-top: 5px;
}
/*end About page*/

/*Header CSS*/
.contact h2, li a, .pizza > span {
	font-weight: bold;
}

.logo img {
	max-width: 416px;
	-webkit-animation: pulse 5s infinite;
	animation: pulse 5s infinite;
}

li a {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 2.5em;
	margin: 10px;
}

address a:hover, .footer a:hover, li a:hover {
	color: #4E2588;
}

article, .contact {
	font-family: 'Lusitana', serif;
}

address a, .footer a {
	color: #000000;
}

address {
	margin-bottom: 0px;
}

.header {
	margin-left: 5px;
}

.navbar-mobile {
	display: none;
}

@-webkit-keyframes pulse {
    0%      {opacity: 0.3;}
    50%     {opacity: 1;}
    100%    {opacity: 0.3;}
}
@keyframes pulse {
    0%      {opacity: 0.3;}
    50%     {opacity: 1;}
    100%    {opacity: 0.3;}
}
/*end Header*/

/*Footer CSS*/
.footer {
	border: 5px solid #9A73D1;
	bottom: 0px;
	left: 0px;
	position: fixed;
}
/*end Footer*/

/*Mobile/Tablet CSS*/
@media screen and (max-width: 1001px) {
	.image, .morepizza, .order {
		display: none;
	}	
}

@media screen and (max-width: 767px) {
	.video {
		display: none;
	}

	.navbar-mobile {
		display: inline;
	}
}

@media screen and (max-width: 540px) {
	.menus {
		font-size: 12px;
	}

	.menus h1 {
		font-size: 25px;
	}

	.menus h2 {
		font-size: 20px;
	}
}

@media screen and (max-width: 350px) {
	.navbar-mobile {
		font-size: .95em;
	}
}
/*end Mobile/Tablet*/